<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title> 
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body> 
<div class = 'container'>
    <h1>Cadastro</h1>
    <br>
    <form action = "/alunos" method = "POST"> 
        <input type = 'hidden' name = 'id' value='${data.id}'>
        <input type = "text" name = "nome" placeholder="nome" value="${data.nome}">
        <input type = "email" name = "email" placeholder="email" value="${data.email}">
        <label>Curso</label>
     <p>
      <label>
        <input name="curso" type="radio" value = "ads" checked='${data.curso == "ads"}' />
        <span>ADS</span>
      </label>
    </p> 
     <p>
      <label>
        <input name="curso" type="radio" value = 'qualidade' checked='${data.curso == "qualidade"}' />
        <span>Qualidade</span>
      </label>
    </p> 
     <p>
      <label>
        <input name="curso" type="radio" value = "ipi" checked='${data.curso == "ipi"}' />
        <span>informática para internet</span>
      </label>
    </p>
        <a href='/' class="waves-effect waves-light btn" type = "reset"  class="waves-effect waves-light btn" style = "margin-right: 10pt">Cancelar</a>
        <button type = "submit"  class="waves-effect waves-light btn" >Salvar</button>
        </form> 
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>